html,
body {
  height: 100%;
}

.elements_border-radius {
  border-radius: 10px;
}

.short_width {
  width: 15%;
}

.full_width {
  width: 100%;
}

.adding_and_sorted_characteristics {
  margin-top: 1%;
  color: white;
  font-size: 1vw;
}